body {
	background: #f5f7f9;
}

.container {
	max-width: 1590px;
	width: 100%;
	margin: auto;
}

.usersList {
	&__title {
		color: #4a4f56;
		font-size: 32px;
		font-family: Arial;
		font-weight: normal;
		text-align: left;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-search {
			position: relative;
			max-width: 50%;

			svg {
				position: absolute;
				bottom: 0;
				top: 0;
				margin: auto;
				right: 10px;
			}
		}

		&--add {
			height: 47px;
			color: #fff;
			background: #459672;
			border-radius: 12px;
			border: 0;
			padding: 0 15px;
			cursor: pointer;
			display: flex;
			align-items: center;
			transition: 0.3s all;
			text-decoration: underline;

			&:hover {
				background: #00b162;
			}

			svg {
				margin-right: 10px;
			}
		}
	}

	&__list {
		background: #fff;
		display: block;
		box-shadow: 1px 1px 10px #d1d1d0;
		border-radius: 7px;
		padding: 41px 22px;
		text-align: left;

		table {
			width: 100%;
			border-collapse: collapse;
			th {
				padding-bottom: 20px;

				@media (max-width: 768px) {
					&:nth-child(1),
					&:nth-child(2) {
						width: auto;
					}
				}
			}
			tr {
				background: #f5f7f9;
				&:nth-child(even) {
					background: #fff;
				}
			}
			td {
				padding-top: 5px;
				padding-bottom: 5px;
				&:nth-child(1) {
					padding-left: 13px;
				}
				img {
					width: 44px;
					height: 44px;
					border-radius: 50%;
				}

				&.icons {
					svg {
						cursor: pointer;
						margin: 3px 10px;
					}
				}
			}
		}
	}

	&__pagination {
		display: flex;
		margin-top: 20px;
		&-item {
			cursor: pointer;
			border: 0;
			width: 36px;
			height: 38px;
			transition: 0.3s all;
			&:hover {
				background: #00b162;
				color: #fff;
			}

			&.active {
				background: #459672;
				color: #fff;
				cursor: normal;
			}

		}
	}

	&__search {
		width: 480px;
		max-width: 100%;
		background: #f7f8f9;
		border-radius: 5px;
		margin: 40px 0;
		border: 0;
		height: 38px;
		padding-left: 10px;
	}
}

.userDetail {
	&__title {
		color: #4a4f56;
		font-size: 32px;
		font-family: Arial;
		font-weight: normal;
		text-align: left;
	}

	&__boxes {
		display: flex;
		background: #f0f3f5;
		padding: 12px;

		@media (max-width: 768px) {
			flex-flow: column-reverse;
		}
	}

	.form-box {
		display: flex;
		justify-content: space-between;

		@media (max-width: 768px) {
			flex-flow: column;
		}

		label {
			display: block;
			margin-bottom: 14px;
			font-weight: bold;
			font-family: Arial;
		}

		.form-line {
			width: 48%;

			@media (max-width: 768px) {
				width: 100%;
				display: block;
			    margin-bottom: 40px;
			}

			input {
				width: 100%;
				height: 35px;
				border-radius: 5px;
				border: 1px solid #c8cfd5;
				padding-left: 10px;
				box-sizing: border-box;
			}
		}
	}

	&__data-box {
		background: #fff;
		display: block;
		box-shadow: 1px 1px 10px #d1d1d0;
		border-radius: 7px;
		padding: 41px 22px;
		text-align: left;
		width: 100%;
		margin-right: 28px;
		position: relative;
		min-height: 230px;
		box-sizing: border-box;

		@media (max-width: 768px) {
			width: 90%;
			margin: auto;
		}

		&:last-child {
			margin: 0;
		}

		&--center {
			text-align: center;
		}
	}

	&__update {
		background: #1e9067;
		border: 0;
		border-radius: 5px;
		height: 42px;
		color: #fff;
		font-family: Arial;
		font-weight: 700;
		cursor: pointer;
		position: absolute;
		bottom: 12px;
		transition: 0.3s all;

		&:hover {
			background: #00b162;
		}
	}

	&__update-photo {
		background: transparent;
		border: 1px solid #636c73;
		border-radius: 5px;
		height: 42px;
		color: #636c73;
		display: block;
		width: 100%;
		font-family: Arial;
		font-weight: 700;
		cursor: pointer;
		margin-top: 90px;
	}

	&__img-box {
		background: #fff;
		display: block;
		box-shadow: 1px 1px 10px #d1d1d0;
		border-radius: 7px;
		padding: 41px 22px;
		text-align: center;
		box-sizing: border-box;
		width: 50%;

		@media (max-width: 768px) {
			width: 90%;
			margin: 0 auto 40px;
		}

		label {
			display: block;
			margin-bottom: 14px;
			font-weight: bold;
			font-family: Arial;
		}

		input {
			width: 100%;
			height: 35px;
			border-radius: 5px;
			border: 1px solid #c8cfd5;
			padding-left: 10px;
			box-sizing: border-box;
		}

		img {
		    display: block;
		    margin: auto;
		    border-radius: 50%;
		    border: 1px solid #dadee2;
		    padding: 1px;
		}
	}
}

.status-0 {
	background: yellow;
	padding: 5px 10px;
	color: #000;
	border-radius: 7px;
}
.status-1 {
	background: green;
	padding: 5px 10px;
	color: #fff;
	border-radius: 7px;
}
.status-2 {
	background: red;
	padding: 5px 10px;
	color: #fff;
	border-radius: 7px;
}